<launch>

    <node pkg="sensors" type="dynamicmodel_s" name="dynamicmodel_s" />

    <node pkg="sensors" type="asmc" name="asmc" />

    <node pkg="sensors" type="cs_ch_2.py" name="cs_ch_2" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/alex/catkin_ws/src/sensors/bags/sim/asmc_1_speed_ref_heading" />

</launch>